body {
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: hsl(0, 4%, 40%);

  font-family: monospace;
}

/*----------------------------------------------------------*/

#menu {
  background-color: hsl(0, 0%, 21%);

  display: flex;
  justify-content: center;

  position: absolute;
  top: 0px;

  z-index: -1;

  width: 100vw;
  height: 35%;
}

#title {
  font-size: 5rem;
}

/*----------------------------------------------------------*/

#launchbuino {
  width: 450px;
  height: 280px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 5px;
}

#encoders {
  min-width: 450px;
  min-height: 50px;

  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;

  padding-bottom: 5px;

  font-size: 1rem;
}

#pads {
  width: 450px;
  height: 225px;

  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

button {
  width: 50px;
  height: 50px;

  border: 2px solid black;
  border-radius: 5px;
  background-color: hsl(0, 7%, 60%);

  font-size: 1rem;
  font-weight: bold;
  color: black;

  padding: 0px;

  cursor: pointer;
}

.enc {
  border-radius: 25px;
  border: 2px dashed black;

  padding: 0px;
}

button:hover {
  background-color: hsl(0, 7%, 65%);
}

button:active {
  background-color: hsl(0, 7%, 70%);
}

/*----------------------------------------------------------*/

#inspect {
  background-color: hsl(0, 0%, 21%);

  position: absolute;
  bottom: 0px;

  z-index: -1;

  width: 100vw;
  height: 35%;
}

h1 {
  font-size: 4rem;
  font-weight: bold;

  padding-left: 20px;

  color: white;
}

#colorpicker {
  width: 50px;
  height: 50px;

  z-index: 2;
}
